# Node modules
node_modules/

# Electron build
dist/
release/
out/
win-unpacked/
*.exe

# logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/

# media data
media/*
!media/.gitkeep

# lesson data
lessons/*
!lessons/.gitkeep

# whisper models (very large files)
tools/whisper/models/*

# temp audio clips
*.wav